@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

@font-face {
	src: url('/fonts/Cyberpunk.ttf') format('ttf');
	font-family: 'Cyberpunk';
	font-weight: 700;
	font-style: italic;
}

.app {
	font: var(--font-m);

	background: var(--bg-color);
	color: var(--primary-color);

	min-height: 100vh;
}
